n8n-workflows/workflow-a-lead-capture.json
{
  "name": "DA - Lead Capture (4-Layer Sales Ops)",
  "meta": {
    "description": "Inbound form → Claude classify → Claude draft → log + Telegram approval (business hours) or immediate generic send (out-of-hours). This workflow is itself a demo of the 4-layer framework customers see on the site.",
    "skills_referenced": [
      "skills/lead-qualifier.md",
      "skills/inbound-reply-draft.md",
      "skills/telegram-brief.md"
    ]
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "da-lead-capture",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://digitalartifacts.com.au"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Lead Capture",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ {\"success\": true, \"message\": \"Thanks. Isaiah will be in touch shortly.\"} }",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "https://digitalartifacts.com.au" }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nconst name = (input.name || '').trim();\nconst email = (input.email || '').trim().toLowerCase();\nconst phone = (input.phone || '').trim();\nconst service = (input.service || '').trim();\nconst budget = (input.budget || '').trim();\nconst message = (input.message || '').trim();\nconst howHeard = (input['how-heard'] || input.how_heard || '').trim();\nconst leadMagnet = input.lead_magnet === true || input.lead_magnet === 'true';\nconst submittedAt = input.submitted_at || new Date().toISOString();\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('Invalid email address: ' + email);\n}\n\nconst leadId = 'DA-' + Date.now().toString(36).toUpperCase();\n\nreturn [{ json: {\n  lead_id: leadId,\n  name, email, phone, service, budget, message,\n  how_heard: howHeard,\n  lead_magnet: leadMagnet,\n  submitted_at: submittedAt,\n  source: leadMagnet ? 'lead_magnet' : 'contact_form'\n}}];"
      },
      "id": "validate-clean",
      "name": "Validate & Clean",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 420]
    },
    {
      "parameters": {
        "jsCode": "// Fetch brain files from public GitHub raw: Layer 1 (Context) at runtime.\nconst base = 'https://raw.githubusercontent.com/isaiahwong-bit/Digital-Artifacts/main/brain';\nconst files = ['icp', 'pricing', 'company-brief', 'tone-of-voice', 'response-scaffolds', 'integrations'];\n\nconst fetched = await Promise.all(files.map(async (f) => {\n  const res = await fetch(`${base}/${f}.md`);\n  if (!res.ok) throw new Error(`Failed to fetch ${f}.md: ${res.status}`);\n  return [f, await res.text()];\n}));\n\nconst brain = Object.fromEntries(fetched);\n\nreturn [{ json: { ...$input.first().json, brain: {\n  icp: brain['icp'],\n  pricing: brain['pricing'],\n  company: brain['company-brief'],\n  tone: brain['tone-of-voice'],\n  scaffolds: brain['response-scaffolds'],\n  integrations: brain['integrations']\n}}}];"
      },
      "id": "fetch-brain",
      "name": "Fetch Brain (Layer 1)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 600,\n  \"system\": \"You are the Digital Artifacts lead-qualifier (Layer 2 skill). Classify an inbound form submission against the ICP and pricing. Return strictly the JSON schema, no prose, no markdown fences. Never invent signals not in the message. If too short to classify, priority=2 scaffold=B. If spam, icp_class=not_fit.\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"<icp>\\n{{ $json.brain.icp }}\\n</icp>\\n\\n<pricing>\\n{{ $json.brain.pricing }}\\n</pricing>\\n\\n<submission>\\nName: {{ $json.name }}\\nEmail: {{ $json.email }}\\nPhone: {{ $json.phone }}\\nService requested: {{ $json.service }}\\nBudget: {{ $json.budget }}\\nHow they heard: {{ $json.how_heard }}\\nMessage:\\n{{ $json.message }}\\n</submission>\\n\\nReturn JSON: {\\\"icp_class\\\":\\\"hot|warm|cool|not_fit\\\",\\\"priority\\\":1|2|3,\\\"industry_archetype\\\":\\\"services|trades|sales|other\\\",\\\"scaffold\\\":\\\"A|B|C|D|E|F\\\",\\\"summary\\\":\\\"\\\",\\\"their_topic\\\":\\\"\\\",\\\"signals\\\":[],\\\"budget_fit\\\":\\\"above_floor|edge|below_floor|unknown\\\",\\\"first_name\\\":\\\"\\\",\\\"recommended_action\\\":\\\"\\\"}\"\n  }]\n}",
        "options": {}
      },
      "id": "claude-qualifier",
      "name": "Claude: Lead Qualifier (Skill)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_anthropicApi_credential_id",
          "name": "anthropicApi.default"
        }
      },
      "notes": "Credential must send header: x-api-key: <ANTHROPIC_API_KEY>"
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's qualifier JSON output + determine mode (business hours AEST).\nconst prev = $('Fetch Brain (Layer 1)').item.json;\nconst claudeRes = $input.first().json;\nconst raw = claudeRes?.content?.[0]?.text || '';\n\nlet classification;\ntry {\n  const jsonText = raw.trim().replace(/^```json\\n?|```$/g, '');\n  classification = JSON.parse(jsonText);\n} catch (e) {\n  classification = {\n    icp_class: 'warm', priority: 2, industry_archetype: 'other', scaffold: 'B',\n    summary: prev.message.slice(0, 80), their_topic: prev.service || 'enquiry',\n    signals: [], budget_fit: 'unknown', first_name: (prev.name || '').split(' ')[0],\n    recommended_action: 'manual review'\n  };\n}\n\nconst nowSyd = new Date(new Date().toLocaleString('en-US', { timeZone: 'Australia/Sydney' }));\nconst day = nowSyd.getDay();\nconst hour = nowSyd.getHours();\nconst inHours = day >= 1 && day <= 5 && hour >= 8 && hour < 20;\nconst mode = inHours ? 'in_hours' : 'out_of_hours';\n\nreturn [{ json: { ...prev, classification, mode } }];"
      },
      "id": "parse-classify",
      "name": "Parse Classification + Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 900,\n  \"system\": \"You draft an email reply from Isaiah at Digital Artifacts to a new inbound lead (Layer 2 skill: inbound-reply-draft). HARD RULES: no em dashes ever, open with FirstName only (no 'Hi X'), reference one specific detail from their message, end with the booking link, sign off Isaiah only, max 4 short paragraphs. Use placeholder {{ BOOKING_LINK }} in the body. If mode=out_of_hours, override scaffold with D. Return JSON only, no markdown fences.\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"<company>\\n{{ $json.brain.company }}\\n</company>\\n\\n<pricing>\\n{{ $json.brain.pricing }}\\n</pricing>\\n\\n<tone>\\n{{ $json.brain.tone }}\\n</tone>\\n\\n<scaffolds>\\n{{ $json.brain.scaffolds }}\\n</scaffolds>\\n\\n<classification>\\n{{ JSON.stringify($json.classification) }}\\n</classification>\\n\\n<submission>\\nName: {{ $json.name }}\\nEmail: {{ $json.email }}\\nService: {{ $json.service }}\\nBudget: {{ $json.budget }}\\nMessage:\\n{{ $json.message }}\\n</submission>\\n\\n<mode>{{ $json.mode }}</mode>\\n\\nReturn JSON: {\\\"subject\\\":\\\"\\\",\\\"body_plain\\\":\\\"\\\",\\\"scaffold_used\\\":\\\"A|B|C|D|E|F\\\",\\\"confidence\\\":\\\"high|medium|low\\\",\\\"notes_for_isaiah\\\":\\\"\\\"}\"\n  }]\n}",
        "options": {}
      },
      "id": "claude-draft",
      "name": "Claude: Inbound Reply Draft (Skill)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_anthropicApi_credential_id",
          "name": "anthropicApi.default"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse draft JSON and swap booking link placeholder from brain/integrations.md.\nconst prev = $('Parse Classification + Mode').item.json;\nconst raw = $input.first().json?.content?.[0]?.text || '';\nlet draft;\ntry {\n  const jsonText = raw.trim().replace(/^```json\\n?|```$/g, '');\n  draft = JSON.parse(jsonText);\n} catch (e) {\n  draft = {\n    subject: 'Got your message',\n    body_plain: `${(prev.name||'there').split(' ')[0]},\\n\\nGot your message, reading it properly shortly and will be back to you.\\n\\nIsaiah`,\n    scaffold_used: 'D', confidence: 'low',\n    notes_for_isaiah: 'Claude response unparseable, fallback draft used. Review before approve.'\n  };\n}\n\n// Pull booking link from integrations.md (default placeholder if not set).\nconst bookingMatch = (prev.brain?.integrations || '').match(/https:\\/\\/calendar\\.app\\.google\\/[A-Za-z0-9_-]+/);\nconst bookingLink = bookingMatch ? bookingMatch[0] : 'https://calendar.app.google/PLACEHOLDER';\n\ndraft.body_plain = (draft.body_plain || '').replace(/\\{\\{\\s*BOOKING_LINK\\s*\\}\\}/g, bookingLink);\ndraft.body_plain = draft.body_plain.replace(/—|–/g, ',');\n\nreturn [{ json: { ...prev, draft } }];"
      },
      "id": "parse-draft",
      "name": "Parse Draft + Inject Booking Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1XWUc-kCP3mDln2LO_witusIwXy736fYar3k3clkLDZM"
        },
        "sheetName": { "__rl": true, "mode": "list", "value": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "timestamp": "={{ $json.submitted_at }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "service": "={{ $json.service }}",
            "budget": "={{ $json.budget }}",
            "message": "={{ $json.message }}",
            "how_heard": "={{ $json.how_heard }}",
            "source": "={{ $json.source }}",
            "icp_class": "={{ $json.classification.icp_class }}",
            "priority": "={{ $json.classification.priority }}",
            "industry_archetype": "={{ $json.classification.industry_archetype }}",
            "scaffold": "={{ $json.draft.scaffold_used }}",
            "draft_subject": "={{ $json.draft.subject }}",
            "draft_body": "={{ $json.draft.body_plain }}",
            "confidence": "={{ $json.draft.confidence }}",
            "notes_for_isaiah": "={{ $json.draft.notes_for_isaiah }}",
            "mode": "={{ $json.mode }}",
            "status": "={{ $json.mode === 'out_of_hours' ? 'sent_auto_ooh' : 'awaiting_approval' }}"
          }
        },
        "options": {}
      },
      "id": "sheet-append",
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 420],
      "notes": "Sheet columns required: lead_id, timestamp, name, email, phone, service, budget, message, how_heard, source, icp_class, priority, industry_archetype, scaffold, draft_subject, draft_body, confidence, notes_for_isaiah, mode, status"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "mode-check",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "out_of_hours",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ooh",
      "name": "Out of Hours?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2000, 420]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.draft.subject }}",
        "emailType": "text",
        "message": "={{ $json.draft.body_plain }}",
        "options": { "replyTo": "hello@digitalartifacts.com.au" }
      },
      "id": "gmail-send-ooh",
      "name": "Gmail: Send Draft Now (OOH)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2220, 300],
      "notes": "Out-of-hours: send the Scaffold D acknowledgement immediately. Isaiah follows up in the morning."
    },
    {
      "parameters": {
        "jsCode": "// Build Telegram brief text for Isaiah (Layer 2 skill: telegram-brief).\n// Out-of-hours variant: message is FYI only, no buttons — reply already sent.\nconst d = $('Parse Draft + Inject Booking Link').item.json;\nconst c = d.classification;\nconst prio = c.priority === 1 ? '🔥' : c.priority === 2 ? '⚡' : '💬';\nconst prioWord = c.priority === 1 ? 'HOT' : c.priority === 2 ? 'WARM' : 'COOL';\nconst msg = (d.message || '').slice(0, 300) + ((d.message || '').length > 300 ? '...' : '');\nconst firstName = c.first_name || (d.name || '').split(' ')[0];\n\nconst text = `🌙 AUTO-SENT (outside hours) · ${prio} ${prioWord} ${c.industry_archetype}\\n\\n${firstName} · ${d.service || 'no service'} · ${c.budget_fit}\\n${(c.signals || []).slice(0,5).join(', ')}\\n\\nASK\\n${c.summary}\\n\\nMESSAGE\\n${msg}\\n\\n───────\\nSENT REPLY (Scaffold ${d.draft.scaffold_used}, ${d.draft.confidence} confidence)\\n\\n${d.draft.subject}\\n\\n${d.draft.body_plain}\\n\\n───────\\n${d.draft.notes_for_isaiah || 'No flags.'} Follow up in the morning.`;\n\nreturn [{ json: { ...d, telegram_text: text.slice(0, 3900) } }];"
      },
      "id": "tg-text-ooh",
      "name": "Render Telegram Brief (OOH)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $credentials.telegramApi.chatId || $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": { "disable_web_page_preview": true }
      },
      "id": "tg-send-ooh",
      "name": "Telegram: FYI (OOH)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2660, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_telegram_credential_id",
          "name": "telegramApi.daAdminbot"
        }
      },
      "notes": "Chat ID is Isaiah's personal chat. Get it by messaging @userinfobot, then set env TELEGRAM_CHAT_ID or hardcode here."
    },
    {
      "parameters": {
        "jsCode": "// Build Telegram brief with approval buttons (in-hours).\nconst d = $('Parse Draft + Inject Booking Link').item.json;\nconst c = d.classification;\nconst prio = c.priority === 1 ? '🔥' : c.priority === 2 ? '⚡' : '💬';\nconst prioWord = c.priority === 1 ? 'HOT' : c.priority === 2 ? 'WARM' : 'COOL';\nconst msg = (d.message || '').slice(0, 300) + ((d.message || '').length > 300 ? '...' : '');\nconst firstName = c.first_name || (d.name || '').split(' ')[0];\n\nconst text = `🎯 ${prio} ${prioWord} lead · ${c.industry_archetype}\\n\\n${firstName} · ${d.service || 'no service'} · ${c.budget_fit}\\n${(c.signals || []).slice(0,5).join(', ')}\\n\\nASK\\n${c.summary}\\n\\nMESSAGE\\n${msg}\\n\\n───────\\nDRAFT REPLY (Scaffold ${d.draft.scaffold_used}, ${d.draft.confidence} confidence)\\n\\n${d.draft.subject}\\n\\n${d.draft.body_plain}\\n\\n───────\\n${d.draft.notes_for_isaiah || 'No flags.'}`;\n\nreturn [{ json: { ...d, telegram_text: text.slice(0, 3900) } }];"
      },
      "id": "tg-text-in",
      "name": "Render Telegram Brief (In-Hours)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 540]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $credentials.telegramApi.chatId || $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegram_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  { "text": "✅ Approve & Send", "additionalFields": { "callback_data": "=approve:{{ $json.lead_id }}" } },
                  { "text": "✏️ Edit", "additionalFields": { "callback_data": "=edit:{{ $json.lead_id }}" } },
                  { "text": "❌ Reject", "additionalFields": { "callback_data": "=reject:{{ $json.lead_id }}" } }
                ]
              }
            }
          ]
        },
        "additionalFields": { "disable_web_page_preview": true }
      },
      "id": "tg-send-in",
      "name": "Telegram: Brief + Buttons (In-Hours)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2660, 540],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_telegram_credential_id",
          "name": "telegramApi.daAdminbot"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Lead Capture": {
      "main": [[
        { "node": "Respond to Webhook", "type": "main", "index": 0 },
        { "node": "Validate & Clean", "type": "main", "index": 0 }
      ]]
    },
    "Validate & Clean": {
      "main": [[{ "node": "Fetch Brain (Layer 1)", "type": "main", "index": 0 }]]
    },
    "Fetch Brain (Layer 1)": {
      "main": [[{ "node": "Claude: Lead Qualifier (Skill)", "type": "main", "index": 0 }]]
    },
    "Claude: Lead Qualifier (Skill)": {
      "main": [[{ "node": "Parse Classification + Mode", "type": "main", "index": 0 }]]
    },
    "Parse Classification + Mode": {
      "main": [[{ "node": "Claude: Inbound Reply Draft (Skill)", "type": "main", "index": 0 }]]
    },
    "Claude: Inbound Reply Draft (Skill)": {
      "main": [[{ "node": "Parse Draft + Inject Booking Link", "type": "main", "index": 0 }]]
    },
    "Parse Draft + Inject Booking Link": {
      "main": [[{ "node": "Log to Sheet", "type": "main", "index": 0 }]]
    },
    "Log to Sheet": {
      "main": [[{ "node": "Out of Hours?", "type": "main", "index": 0 }]]
    },
    "Out of Hours?": {
      "main": [
        [
          { "node": "Gmail: Send Draft Now (OOH)", "type": "main", "index": 0 },
          { "node": "Render Telegram Brief (OOH)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Render Telegram Brief (In-Hours)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Render Telegram Brief (OOH)": {
      "main": [[{ "node": "Telegram: FYI (OOH)", "type": "main", "index": 0 }]]
    },
    "Render Telegram Brief (In-Hours)": {
      "main": [[{ "node": "Telegram: Brief + Buttons (In-Hours)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
