n8n-workflows/workflow-b-nurture-sequence.json
{
  "name": "DA - Nurture Sequence (Daily 9AM AEST)",
  "description": null,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 9AM AEST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        544
      ],
      "notes": "SETUP: Make sure your n8n instance timezone is set to Australia/Sydney (AEST)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1XWUc-kCP3mDln2LO_witusIwXy736fYar3k3clkLDZM"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "options": {}
      },
      "id": "read-leads",
      "name": "Google Sheets - Read Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        544
      ],
      "notes": "SETUP REQUIRED: Select the same 'Digital Artifacts Leads' Google Sheet from Workflow A",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xyvnpCe0Is7f0c73",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\nconst now = new Date();\nconst results = [];\n\nconst CADENCE = {\n  hot:     [2, 4],\n  warm:    [2, 5, 9, 14, 21],\n  cool:    [3, 7, 14, 21, 30],\n  not_fit: []\n};\n\nconst STOP_STATUSES = ['engaged','closed','unsubscribed','nurture_complete','rejected','editing_manual'];\n\nfor (const item of leads) {\n  const lead = item.json;\n  const status = (lead.status || '').toLowerCase();\n  if (STOP_STATUSES.includes(status)) continue;\n\n  const tier = (lead.icp_class || 'warm').toLowerCase();\n  const cadence = CADENCE[tier];\n  if (!cadence || cadence.length === 0) continue;\n\n  const stage = parseInt(lead.nurture_stage) || 0;\n  const nextDay = cadence[stage];\n  if (nextDay === undefined || nextDay === null) continue;\n\n  const submittedAt = new Date(lead.submitted_at || lead.timestamp);\n  if (isNaN(submittedAt.getTime())) continue;\n  const daysSinceSubmission = Math.floor((now - submittedAt) / (1000 * 60 * 60 * 24));\n  if (daysSinceSubmission < nextDay) continue;\n\n  const lastSent = lead.last_email_sent ? new Date(lead.last_email_sent) : null;\n  if (lastSent && !isNaN(lastSent.getTime()) && lastSent.toDateString() === now.toDateString()) continue;\n\n  if (stage === 5 && tier !== 'cool') continue;\n\n  const unsubLink = 'https://n8nbeginner-sga.app.n8n.cloud/webhook/da-unsubscribe?lead_id=' + encodeURIComponent(lead.lead_id);\n  const firstName = lead.first_name || (lead.name || '').split(' ')[0] || 'there';\n\n  results.push({ json: {\n    ...lead,\n    next_stage: stage + 1,\n    stage_to_send: String(stage),\n    unsub_link: unsubLink,\n    first_name: firstName,\n    days_since_submission: daysSinceSubmission\n  }});\n}\n\nreturn results;"
      },
      "id": "filter-due-leads",
      "name": "Filter Leads Due Today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        544
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stage_to_send }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stage_to_send }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stage_to_send }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stage_to_send }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stage_to_send }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stage_to_send }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-stage",
      "name": "Switch by Stage",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        928,
        480
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "The one question",
        "emailType": "text",
        "message": "={{ $json.first_name }},\n\nIsaiah here from Digital Artifacts. Thanks for reaching out.\n\nQuick way to figure out if an AI operating system is worth your time: what's one task your team does every week that's currently eating the most hours? If it's repeatable (same inputs, same outputs, just done weekly), it's a candidate for the 4-layer stack we build.\n\nReply with the task and I'll tell you honestly whether it's worth automating or whether it's a human-judgement job.\n\nOr book 15 minutes if you'd rather talk: https://calendar.app.google/PLACEHOLDER\n\nIsaiah\nhello@digitalartifacts.com.au\n\nUnsubscribe: {{ $json.unsub_link }}",
        "options": {
          "replyTo": "hello@digitalartifacts.com.au"
        }
      },
      "id": "email-stage-1",
      "name": "Email 1 - 3 Mistakes",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        64
      ],
      "webhookId": "966545d4-770c-426b-b4ce-45ada72cc230",
      "credentials": {
        "gmailOAuth2": {
          "id": "bMWObGun24xoeJyN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Why AI that works is different",
        "emailType": "text",
        "message": "={{ $json.first_name }},\n\nQuick follow up. The single reason most AI deployments stall at small businesses: the AI has no memory of who you are.\n\nEvery conversation starts from scratch. It forgets clients, positioning, pricing logic. It hallucinates because it is guessing, not reading.\n\nWhat we build is different. Layer 1 (Context) is your business written down as markdown files. Positioning, clients, pricing, tone, SOPs. The AI reads it at runtime but never writes to it. Correct a fact once, every future output is right. We call this rule \"humans write, AI reads\" and it is what separates a neat demo from something you trust.\n\nWorth a conversation?\nhttps://calendar.app.google/PLACEHOLDER\n\nIsaiah\n\nUnsubscribe: {{ $json.unsub_link }}",
        "options": {
          "replyTo": "hello@digitalartifacts.com.au"
        }
      },
      "id": "email-stage-2",
      "name": "Email 2 - Case Study",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        256
      ],
      "webhookId": "180ca8e5-f707-4076-90cf-67447c5c01ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "bMWObGun24xoeJyN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "The four layers, concretely",
        "emailType": "text",
        "message": "={{ $json.first_name }},\n\nOne more note on how this actually works day to day.\n\nTake a professional services firm. Their 4-layer stack:\nLayer 1 (Context): client histories, matter files, proposal templates, billing rates.\nLayer 2 (Skills): reusable prompt recipes. proposal-writer, meeting-prep, client-update.\nLayer 3 (Automation): 8:30am Slack brief with today's matters. RFP inbound triggers a proposal scaffold. Meeting transcript auto-drafts into structured notes.\nLayer 4 (Agent): Slack for everything. Dashboard for partners.\n\nSame framework, different deployment for a trades operator, or a sales team, or a logistics business.\n\nIf this pattern fits something on your plate, 15 minutes is enough to scope it: https://calendar.app.google/PLACEHOLDER\n\nIsaiah\n\nUnsubscribe: {{ $json.unsub_link }}",
        "options": {
          "replyTo": "hello@digitalartifacts.com.au"
        }
      },
      "id": "email-stage-3",
      "name": "Email 3 - Hidden Cost",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        448
      ],
      "webhookId": "280b9b0d-bca0-4d88-a138-e82a7d3a5f8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "bMWObGun24xoeJyN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Still thinking about it?",
        "emailType": "text",
        "message": "={{ $json.first_name }},\n\nNo rush at all, just checking in. Still considering scoping a 4-layer build, or is the timing off right now?\n\nIf it is off, reply anything and I will drop you from follow-ups. If you want a 15-minute call to sketch what this could look like for your business, here: https://calendar.app.google/PLACEHOLDER\n\nIsaiah\n\nUnsubscribe: {{ $json.unsub_link }}",
        "options": {
          "replyTo": "hello@digitalartifacts.com.au"
        }
      },
      "id": "email-stage-4",
      "name": "Email 4 - Check In",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        640
      ],
      "webhookId": "d7f27547-0a43-49e5-b1ef-1ff763e3e198",
      "credentials": {
        "gmailOAuth2": {
          "id": "bMWObGun24xoeJyN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "A free 4-layer sketch",
        "emailType": "text",
        "message": "={{ $json.first_name }},\n\nOne offer I do not make publicly: book a 30-minute call and I will map your business's Layer 1 brain (what to put in it), three Layer 2 skills (which tasks to automate first), two Layer 3 workflows (what triggers them), and one Layer 4 surface (where your team talks to it). Free, no obligation.\n\nEven if you do not build it with me, you walk away with a clear architecture you can hand to anyone.\n\nhttps://calendar.app.google/PLACEHOLDER\n\nIsaiah\n\nUnsubscribe: {{ $json.unsub_link }}",
        "options": {
          "replyTo": "hello@digitalartifacts.com.au"
        }
      },
      "id": "email-stage-5",
      "name": "Email 5 - Free Roadmap",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        832
      ],
      "webhookId": "233eac44-b99f-4a0a-9974-232fff4ed6cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "bMWObGun24xoeJyN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Off the list?",
        "emailType": "text",
        "message": "={{ $json.first_name }},\n\nLast email in this sequence. If AI operating systems are relevant someday but not now, no problem. I will take you off the list so your inbox stays clean.\n\nIf you want to stay in my orbit (I send a short monthly note with new patterns and worked examples), do nothing and I will keep you in. Otherwise click below and you are off:\n\n{{ $json.unsub_link }}\n\nEither way, good luck with whatever you are building.\n\nIsaiah",
        "options": {
          "replyTo": "hello@digitalartifacts.com.au"
        }
      },
      "id": "email-stage-6",
      "name": "Email 6 - Re-engage (Cool Only)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        1024
      ],
      "webhookId": "6ca3051d-36d5-4e37-8e3d-fc65e58557e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "bMWObGun24xoeJyN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst now = new Date().toISOString();\nconst maxStage = {hot: 2, warm: 5, cool: 6, not_fit: 0}[(lead.icp_class || 'warm').toLowerCase()] || 5;\n\nreturn [{ json: {\n  lead_id: lead.lead_id,\n  nurture_stage: lead.next_stage,\n  last_email_sent: now,\n  status: lead.next_stage >= maxStage ? 'nurture_complete' : (lead.status || 'new')\n}}];"
      },
      "id": "prepare-update",
      "name": "Prepare Sheet Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        544
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1XWUc-kCP3mDln2LO_witusIwXy736fYar3k3clkLDZM"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "type": "string",
              "canBeUsedToMatch": true,
              "required": false,
              "defaultMatch": false,
              "display": true
            },
            {
              "id": "nurture_stage",
              "displayName": "nurture_stage",
              "type": "number",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true
            },
            {
              "id": "last_email_sent",
              "displayName": "last_email_sent",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true
            }
          ],
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "nurture_stage": "={{ $json.nurture_stage }}",
            "last_email_sent": "={{ $json.last_email_sent }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "update-sheet",
      "name": "Google Sheets - Update Stage",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        544
      ],
      "notes": "SETUP REQUIRED: Select the same Google Sheet. Set 'lead_id' as the matching column for updates.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xyvnpCe0Is7f0c73",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "connections": {
    "Daily 9AM AEST": {
      "main": [
        [
          {
            "node": "Google Sheets - Read Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Read Leads": {
      "main": [
        [
          {
            "node": "Filter Leads Due Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Leads Due Today": {
      "main": [
        [
          {
            "node": "Switch by Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Stage": {
      "main": [
        [
          {
            "node": "Email 1 - 3 Mistakes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email 2 - Case Study",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email 3 - Hidden Cost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email 4 - Check In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email 5 - Free Roadmap",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email 6 - Re-engage (Cool Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email 1 - 3 Mistakes": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email 2 - Case Study": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email 3 - Hidden Cost": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email 4 - Check In": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email 5 - Free Roadmap": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email 6 - Re-engage (Cool Only)": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Update": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Sydney",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "activeVersionId": null,
  "versionCounter": 4,
  "activeVersion": null
}
