n8n-workflows/workflow-a-lead-capture.json
{
  "name": "DA - Lead Capture (4-Layer Sales Ops)",
  "description": null,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "da-lead-capture",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Lead Capture",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        288
      ],
      "webhookId": "db0df8c3-85d7-48a3-8ebd-878530e18b80"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Thanks. Isaiah will be in touch shortly.\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        464,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nconst name = (input.name || '').trim();\nconst email = (input.email || '').trim().toLowerCase();\nconst phone = (input.phone || '').trim();\nconst service = (input.service || '').trim();\nconst budget = (input.budget || '').trim();\nconst message = (input.message || '').trim();\nconst howHeard = (input['how-heard'] || input.how_heard || '').trim();\nconst leadMagnet = input.lead_magnet === true || input.lead_magnet === 'true';\nconst submittedAt = input.submitted_at || new Date().toISOString();\nconst sourcePage = (input.source_page || 'unknown').trim();\nconst sourceUrl = (input.source_url || '').trim();\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('Invalid email address: ' + email);\n}\n\nconst leadId = 'DA-' + Date.now().toString(36).toUpperCase();\n\nreturn [{ json: {\n  lead_id: leadId,\n  name, email, phone, service, budget, message,\n  how_heard: howHeard,\n  lead_magnet: leadMagnet,\n  submitted_at: submittedAt,\n  source: leadMagnet ? 'lead_magnet' : 'contact_form',\n  source_page: sourcePage,\n  source_url: sourceUrl\n}}];"
      },
      "id": "validate-clean",
      "name": "Validate & Clean",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = 'https://raw.githubusercontent.com/isaiahwong-bit/Digital-Artifacts/main/brain';\nconst files = ['icp', 'pricing', 'company-brief', 'tone-of-voice', 'response-scaffolds', 'integrations'];\n\nconst brain = {};\nfor (const f of files) {\n  brain[f] = await this.helpers.httpRequest({\n    method: 'GET', url: `${base}/${f}.md`,\n    returnFullResponse: false, encoding: 'text', json: false,\n  });\n}\n\nconst d = $input.first().json;\nconst isLeadMagnet = d.source === 'lead_magnet';\n\nconst pageContext = {\n  home: 'They submitted from the home page: the pitch-level entry point. May not yet understand the 4-layer framework in depth. Keep reply intro-level.',\n  automations: 'They submitted from the /automations page after reading the 4-layer deep-dive. Assume they understand Context + Skills + Automation + Agent and can reference those terms directly.',\n  websites: 'They submitted from the /websites page, interested primarily in the Layer 4 interface surface (dashboards, client portals, front-ends). Frame the reply around that, not full-stack automation unless they ask.',\n  unknown: 'Source page not specified.'\n}[d.source_page] || 'Source page not specified.';\n\nconst leadMagnetRule = isLeadMagnet\n  ? 'CRITICAL: source is lead_magnet. This person downloaded the 4-Layer Blueprint PDF, they did NOT send an enquiry. An empty message is EXPECTED and normal. Set icp_class=warm, priority=2, scaffold=G, summary=\"Downloaded the 4-Layer Blueprint\", their_topic=\"the 4-Layer Blueprint\", signals=[\"lead_magnet_download\",\"self_educating\",\"opted_in\"], budget_fit=unknown. Never treat the empty message as confusing or low-confidence.'\n  : 'source is a normal contact form enquiry. Use the standard A-F scaffold rules. If too short to classify, priority=2 scaffold=B. If spam, icp_class=not_fit.';\n\nconst qualifier_body = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 600,\n  system: 'You are the Digital Artifacts lead-qualifier (Layer 2 skill). Classify an inbound form submission against the ICP and pricing. Return strictly the JSON schema, no prose, no markdown fences. Never invent signals not in the message. ' + leadMagnetRule,\n  messages: [{\n    role: 'user',\n    content: `<icp>\\n${brain['icp']}\\n</icp>\\n\\n<pricing>\\n${brain['pricing']}\\n</pricing>\\n\\n<source_page_context>\\n${pageContext}\\n</source_page_context>\\n\\n<submission>\\nName: ${d.name}\\nEmail: ${d.email}\\nPhone: ${d.phone}\\nService requested: ${d.service}\\nBudget: ${d.budget}\\nHow they heard: ${d.how_heard}\\nSource: ${d.source}\\nSource page: ${d.source_page}\\nMessage:\\n${d.message}\\n</submission>\\n\\nReturn JSON: {\"icp_class\":\"hot|warm|cool|not_fit\",\"priority\":1|2|3,\"industry_archetype\":\"services|trades|sales|other\",\"scaffold\":\"A|B|C|D|E|F|G\",\"summary\":\"\",\"their_topic\":\"\",\"signals\":[],\"budget_fit\":\"above_floor|edge|below_floor|unknown\",\"first_name\":\"\",\"recommended_action\":\"\"}`\n  }]\n};\n\nreturn [{ json: { ...d, brain: {\n  icp: brain['icp'], pricing: brain['pricing'], company: brain['company-brief'],\n  tone: brain['tone-of-voice'], scaffolds: brain['response-scaffolds'], integrations: brain['integrations']\n}, qualifier_body, page_context: pageContext, is_lead_magnet: isLeadMagnet }}];"
      },
      "id": "fetch-brain",
      "name": "Fetch Brain (Layer 1)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.qualifier_body) }}",
        "options": {}
      },
      "id": "claude-qualifier",
      "name": "Claude: Lead Qualifier (Skill)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OKqeqkHPNB4DhUQ9",
          "name": "anthropicApi.default"
        }
      },
      "notes": "Credential must send header: x-api-key: <ANTHROPIC_API_KEY>"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Fetch Brain (Layer 1)').item.json;\nconst claudeRes = $input.first().json;\nconst raw = claudeRes?.content?.[0]?.text || '';\n\nlet classification;\ntry {\n  const jsonText = raw.trim().replace(/^```json\\n?|```$/g, '');\n  classification = JSON.parse(jsonText);\n} catch (e) {\n  classification = {\n    icp_class: 'warm', priority: 2, industry_archetype: 'other',\n    scaffold: prev.is_lead_magnet ? 'G' : 'B',\n    summary: prev.is_lead_magnet ? 'Downloaded the 4-Layer Blueprint' : (prev.message || '').slice(0, 80),\n    their_topic: prev.is_lead_magnet ? 'the 4-Layer Blueprint' : (prev.service || 'enquiry'),\n    signals: prev.is_lead_magnet ? ['lead_magnet_download','self_educating','opted_in'] : [],\n    budget_fit: 'unknown', first_name: (prev.name || '').split(' ')[0],\n    recommended_action: 'manual review'\n  };\n}\n\nconst nowSyd = new Date(new Date().toLocaleString('en-US', { timeZone: 'Australia/Sydney' }));\nconst day = nowSyd.getDay();\nconst hour = nowSyd.getHours();\nconst inHours = day >= 1 && day <= 5 && hour >= 8 && hour < 20;\nconst mode = inHours ? 'in_hours' : 'out_of_hours';\n\nconst leadMagnetRule = prev.is_lead_magnet\n  ? 'CRITICAL OVERRIDE: source is lead_magnet. Use Scaffold G only. They downloaded the 4-Layer Blueprint PDF, they did NOT send an enquiry. An empty message is EXPECTED. NEVER write \"your message was empty\" or \"not sure what prompted you to reach out\" or anything implying they sent an enquiry. Warm, low pressure, value first. Do NOT override to Scaffold D for out_of_hours, Scaffold G sends fine any time. Set scaffold_used=G, confidence=high.'\n  : 'source is a normal contact form enquiry. Use the standard A-F scaffold rules exactly as before. If mode=out_of_hours, override scaffold with D. The reply MUST match the source_page_context.';\n\nconst draft_body = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 900,\n  system: 'You draft an email reply from Isaiah at Digital Artifacts to a new inbound lead (Layer 2 skill: inbound-reply-draft). HARD RULES: no em dashes ever, open with FirstName only (no \\'Hi X\\'), reference one specific detail, end with the booking link, sign off Isaiah only, max 4 short paragraphs. Use placeholder {{ BOOKING_LINK }} in the body. ' + leadMagnetRule + ' Return JSON only, no markdown fences.',\n  messages: [{\n    role: 'user',\n    content: `<company>\\n${prev.brain.company}\\n</company>\\n\\n<pricing>\\n${prev.brain.pricing}\\n</pricing>\\n\\n<tone>\\n${prev.brain.tone}\\n</tone>\\n\\n<scaffolds>\\n${prev.brain.scaffolds}\\n</scaffolds>\\n\\n<source_page_context>\\n${prev.page_context}\\n</source_page_context>\\n\\n<classification>\\n${JSON.stringify(classification)}\\n</classification>\\n\\n<submission>\\nName: ${prev.name}\\nEmail: ${prev.email}\\nService: ${prev.service}\\nBudget: ${prev.budget}\\nSource: ${prev.source}\\nSource page: ${prev.source_page}\\nMessage:\\n${prev.message}\\n</submission>\\n\\n<mode>${mode}</mode>\\n\\nReturn JSON: {\"subject\":\"\",\"body_plain\":\"\",\"scaffold_used\":\"A|B|C|D|E|F|G\",\"confidence\":\"high|medium|low\",\"notes_for_isaiah\":\"\"}`\n  }]\n};\n\nreturn [{ json: { ...prev, classification, mode, draft_body } }];"
      },
      "id": "parse-classify",
      "name": "Parse Classification + Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.draft_body) }}",
        "options": {}
      },
      "id": "claude-draft",
      "name": "Claude: Inbound Reply Draft (Skill)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OKqeqkHPNB4DhUQ9",
          "name": "anthropicApi.default"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Parse Classification + Mode').item.json;\nconst raw = $input.first().json?.content?.[0]?.text || '';\nlet draft;\ntry {\n  const jsonText = raw.trim().replace(/^```json\\n?|```$/g, '');\n  draft = JSON.parse(jsonText);\n} catch (e) {\n  draft = {\n    subject: 'Got your message',\n    body_plain: `${(prev.name||'there').split(' ')[0]},\\n\\nGot your message, reading it properly shortly and will be back to you.\\n\\nIsaiah`,\n    scaffold_used: 'D', confidence: 'low',\n    notes_for_isaiah: 'Claude response unparseable, fallback draft used. Review before approve.'\n  };\n}\n\nconst bookingMatch = (prev.brain?.integrations || '').match(/https:\\/\\/calendar\\.app\\.google\\/[A-Za-z0-9_-]+/);\nconst bookingLink = bookingMatch ? bookingMatch[0] : 'https://calendar.app.google/PLACEHOLDER';\ndraft.body_plain = (draft.body_plain || '').replace(/\\{\\{\\s*BOOKING_LINK\\s*\\}\\}/g, bookingLink);\ndraft.body_plain = draft.body_plain.replace(/\\u2014|\\u2013/g, ',');\n\nconst SIGNATURE_HTML = '<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" role=\"presentation\" style=\"border-collapse:collapse;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;margin-top:10px;\">'\n  + '<tr>'\n  + '<td valign=\"middle\" style=\"vertical-align:middle;padding:0 26px 0 0;\"><img src=\"https://digitalartifacts.com.au/brand/da-mark-tile.png\" alt=\"Digital Artifacts\" width=\"84\" height=\"84\" style=\"display:block;width:84px;height:84px;border:0;\"></td>'\n  + '<td style=\"width:1px;padding:0;background:#E8E6E1;font-size:0;line-height:0;\">&nbsp;</td>'\n  + '<td valign=\"middle\" style=\"vertical-align:middle;padding:0 0 0 26px;\">'\n  + '<div style=\"font-size:19px;font-weight:700;color:#1B2838;letter-spacing:-0.015em;line-height:1.1;\">Isaiah Wong</div>'\n  + '<div style=\"font-size:10.5px;color:#8A8A80;margin-top:8px;letter-spacing:0.13em;text-transform:uppercase;font-weight:700;\">Founder &nbsp;&middot;&nbsp; Digital Artifacts</div>'\n  + '<div style=\"font-size:13px;color:#1B2838;margin-top:16px;line-height:1.5;\">AI operating systems that buy back your week.</div>'\n  + '<div style=\"font-size:12px;margin-top:16px;line-height:1.9;\"><a href=\"mailto:isaiah@digitalartifacts.com.au\" style=\"color:#1B2838;text-decoration:none;font-weight:500;\">isaiah@digitalartifacts.com.au</a><br><a href=\"https://digitalartifacts.com.au\" style=\"color:#00C853;text-decoration:none;font-weight:700;\">digitalartifacts.com.au</a></div>'\n  + '</td></tr></table>';\n\nfunction bodyToHtml(text) {\n  const esc = (text || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const linked = esc.replace(/(https?:\\/\\/[^\\s<]+)/g, '<a href=\"$1\" style=\"color:#00C853;\">$1</a>');\n  const body = linked.replace(/\\n/g, '<br>');\n  return '<div style=\"font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.6;color:#1B2838;\">' + body + '</div>' + '<br><br>' + SIGNATURE_HTML;\n}\n\ndraft.body_html = bodyToHtml(draft.body_plain);\n\nconst c = prev.classification || {};\n\n// Flat row for Google Sheets. Keeps nested objects out of autoMap.\nconst row = {\n  lead_id: prev.lead_id,\n  timestamp: prev.submitted_at,\n  name: prev.name, email: prev.email, phone: prev.phone,\n  service: prev.service, budget: prev.budget, message: prev.message,\n  how_heard: prev.how_heard, source: prev.source,\n  icp_class: c.icp_class || '',\n  priority: c.priority || '',\n  industry_archetype: c.industry_archetype || '',\n  scaffold: draft.scaffold_used || '',\n  draft_subject: draft.subject || '',\n  draft_body: draft.body_plain || '',\n  confidence: draft.confidence || '',\n  notes_for_isaiah: draft.notes_for_isaiah || '',\n  mode: prev.mode,\n  status: prev.mode === 'out_of_hours' ? 'sent_auto_ooh' : 'awaiting_approval',\n  source_page: prev.source_page || '',\n  source_url: prev.source_url || ''\n};\n\n// Keep classification + draft on the item so later Telegram/Gmail nodes can still read them.\nreturn [{ json: { ...row, classification: c, draft, brain: prev.brain } }];"
      },
      "id": "parse-draft",
      "name": "Parse Draft + Inject Booking Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        384
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1XWUc-kCP3mDln2LO_witusIwXy736fYar3k3clkLDZM"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "sheet-append",
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1808,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xyvnpCe0Is7f0c73",
          "name": "Google Sheets account 3"
        }
      },
      "notes": "Sheet columns required: lead_id, timestamp, name, email, phone, service, budget, message, how_heard, source, icp_class, priority, industry_archetype, scaffold, draft_subject, draft_body, confidence, notes_for_isaiah, mode, status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "mode-check",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "out_of_hours",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ooh",
      "name": "Out of Hours?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2032,
        384
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.draft.subject }}",
        "emailType": "html",
        "message": "={{ $json.draft.body_html }}",
        "options": {
          "replyTo": "hello@digitalartifacts.com.au"
        }
      },
      "id": "gmail-send-ooh",
      "name": "Gmail: Send Draft Now (OOH)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2256,
        192
      ],
      "webhookId": "3aa0bb5e-a654-43a8-a23e-d2b981ebc5e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "bMWObGun24xoeJyN",
          "name": "Gmail account"
        }
      },
      "notes": "Out-of-hours: send the Scaffold D acknowledgement immediately. Isaiah follows up in the morning."
    },
    {
      "parameters": {
        "jsCode": "// Build Telegram brief text for Isaiah (Layer 2 skill: telegram-brief).\n// Out-of-hours variant: message is FYI only, no buttons \u2014 reply already sent.\nconst d = $('Parse Draft + Inject Booking Link').item.json;\nconst c = d.classification;\nconst prio = c.priority === 1 ? '\ud83d\udd25' : c.priority === 2 ? '\u26a1' : '\ud83d\udcac';\nconst prioWord = c.priority === 1 ? 'HOT' : c.priority === 2 ? 'WARM' : 'COOL';\nconst msg = (d.message || '').slice(0, 300) + ((d.message || '').length > 300 ? '...' : '');\nconst firstName = c.first_name || (d.name || '').split(' ')[0];\n\nconst text = `\ud83c\udf19 AUTO-SENT (outside hours) \u00b7 ${prio} ${prioWord} ${c.industry_archetype}\\n\\n${firstName} \u00b7 ${d.service || 'no service'} \u00b7 ${c.budget_fit}\\n${(c.signals || []).slice(0,5).join(', ')}\\n\\nASK\\n${c.summary}\\n\\nMESSAGE\\n${msg}\\n\\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nSENT REPLY (Scaffold ${d.draft.scaffold_used}, ${d.draft.confidence} confidence)\\n\\n${d.draft.subject}\\n\\n${d.draft.body_plain}\\n\\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n${d.draft.notes_for_isaiah || 'No flags.'} Follow up in the morning.`;\n\nreturn [{ json: { ...d, telegram_text: text.slice(0, 3900) } }];"
      },
      "id": "tg-text-ooh",
      "name": "Render Telegram Brief (OOH)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        384
      ]
    },
    {
      "parameters": {
        "chatId": "8711637937",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {}
      },
      "id": "tg-send-ooh",
      "name": "Telegram: FYI (OOH)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2480,
        384
      ],
      "webhookId": "0e458153-0f1c-4df6-8728-b2e8fe424a32",
      "credentials": {
        "telegramApi": {
          "id": "WqZONzynV5mpkH1f",
          "name": "tgApi.daAdmin.fresh"
        }
      },
      "notes": "Chat ID is Isaiah's personal chat. Get it by messaging @userinfobot, then set env TELEGRAM_CHAT_ID or hardcode here."
    },
    {
      "parameters": {
        "jsCode": "// Build Telegram brief with approval buttons (in-hours).\nconst d = $('Parse Draft + Inject Booking Link').item.json;\nconst c = d.classification;\nconst prio = c.priority === 1 ? '\ud83d\udd25' : c.priority === 2 ? '\u26a1' : '\ud83d\udcac';\nconst prioWord = c.priority === 1 ? 'HOT' : c.priority === 2 ? 'WARM' : 'COOL';\nconst msg = (d.message || '').slice(0, 300) + ((d.message || '').length > 300 ? '...' : '');\nconst firstName = c.first_name || (d.name || '').split(' ')[0];\n\nconst text = `\ud83c\udfaf ${prio} ${prioWord} lead \u00b7 ${c.industry_archetype}\\n\\n${firstName} \u00b7 ${d.service || 'no service'} \u00b7 ${c.budget_fit}\\n${(c.signals || []).slice(0,5).join(', ')}\\n\\nASK\\n${c.summary}\\n\\nMESSAGE\\n${msg}\\n\\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nDRAFT REPLY (Scaffold ${d.draft.scaffold_used}, ${d.draft.confidence} confidence)\\n\\n${d.draft.subject}\\n\\n${d.draft.body_plain}\\n\\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n${d.draft.notes_for_isaiah || 'No flags.'}`;\n\nreturn [{ json: { ...d, telegram_text: text.slice(0, 3900) } }];"
      },
      "id": "tg-text-in",
      "name": "Render Telegram Brief (In-Hours)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        576
      ]
    },
    {
      "parameters": {
        "chatId": "8711637937",
        "text": "={{ $json.telegram_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\u2705 Approve & Send",
                    "additionalFields": {
                      "callback_data": "=approve:{{ $json.lead_id }}"
                    }
                  },
                  {
                    "text": "\u270f\ufe0f Edit",
                    "additionalFields": {
                      "callback_data": "=edit:{{ $json.lead_id }}"
                    }
                  },
                  {
                    "text": "\u274c Reject",
                    "additionalFields": {
                      "callback_data": "=reject:{{ $json.lead_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "tg-send-in",
      "name": "Telegram: Brief + Buttons (In-Hours)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2480,
        576
      ],
      "webhookId": "2eae4fc2-151e-43ba-9b9a-d9eb58e8fad4",
      "credentials": {
        "telegramApi": {
          "id": "WqZONzynV5mpkH1f",
          "name": "tgApi.daAdmin.fresh"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Lead Capture": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Validate & Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Clean": {
      "main": [
        [
          {
            "node": "Fetch Brain (Layer 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brain (Layer 1)": {
      "main": [
        [
          {
            "node": "Claude: Lead Qualifier (Skill)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Lead Qualifier (Skill)": {
      "main": [
        [
          {
            "node": "Parse Classification + Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification + Mode": {
      "main": [
        [
          {
            "node": "Claude: Inbound Reply Draft (Skill)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Inbound Reply Draft (Skill)": {
      "main": [
        [
          {
            "node": "Parse Draft + Inject Booking Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Draft + Inject Booking Link": {
      "main": [
        [
          {
            "node": "Log to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheet": {
      "main": [
        [
          {
            "node": "Out of Hours?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Out of Hours?": {
      "main": [
        [
          {
            "node": "Gmail: Send Draft Now (OOH)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render Telegram Brief (OOH)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Render Telegram Brief (In-Hours)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Telegram Brief (OOH)": {
      "main": [
        [
          {
            "node": "Telegram: FYI (OOH)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Telegram Brief (In-Hours)": {
      "main": [
        [
          {
            "node": "Telegram: Brief + Buttons (In-Hours)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "activeVersionId": "363e6aaf-55f0-4278-be5a-0332c1ce7bfe",
  "versionCounter": 59,
  "activeVersion": {
    "updatedAt": "2026-05-20T02:36:40.504Z",
    "createdAt": "2026-05-20T02:36:40.504Z",
    "versionId": "363e6aaf-55f0-4278-be5a-0332c1ce7bfe",
    "workflowId": "3MZjEclDK9MHBqXz",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "da-lead-capture",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "webhook-trigger",
        "name": "Webhook - Lead Capture",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          288
        ],
        "webhookId": "db0df8c3-85d7-48a3-8ebd-878530e18b80"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"success\": true, \"message\": \"Thanks. Isaiah will be in touch shortly.\"}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-webhook",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          464,
          192
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nconst name = (input.name || '').trim();\nconst email = (input.email || '').trim().toLowerCase();\nconst phone = (input.phone || '').trim();\nconst service = (input.service || '').trim();\nconst budget = (input.budget || '').trim();\nconst message = (input.message || '').trim();\nconst howHeard = (input['how-heard'] || input.how_heard || '').trim();\nconst leadMagnet = input.lead_magnet === true || input.lead_magnet === 'true';\nconst submittedAt = input.submitted_at || new Date().toISOString();\nconst sourcePage = (input.source_page || 'unknown').trim();\nconst sourceUrl = (input.source_url || '').trim();\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('Invalid email address: ' + email);\n}\n\nconst leadId = 'DA-' + Date.now().toString(36).toUpperCase();\n\nreturn [{ json: {\n  lead_id: leadId,\n  name, email, phone, service, budget, message,\n  how_heard: howHeard,\n  lead_magnet: leadMagnet,\n  submitted_at: submittedAt,\n  source: leadMagnet ? 'lead_magnet' : 'contact_form',\n  source_page: sourcePage,\n  source_url: sourceUrl\n}}];"
        },
        "id": "validate-clean",
        "name": "Validate & Clean",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          384
        ]
      },
      {
        "parameters": {
          "jsCode": "const base = 'https://raw.githubusercontent.com/isaiahwong-bit/Digital-Artifacts/main/brain';\nconst files = ['icp', 'pricing', 'company-brief', 'tone-of-voice', 'response-scaffolds', 'integrations'];\n\nconst brain = {};\nfor (const f of files) {\n  brain[f] = await this.helpers.httpRequest({\n    method: 'GET', url: `${base}/${f}.md`,\n    returnFullResponse: false, encoding: 'text', json: false,\n  });\n}\n\nconst d = $input.first().json;\nconst isLeadMagnet = d.source === 'lead_magnet';\n\nconst pageContext = {\n  home: 'They submitted from the home page: the pitch-level entry point. May not yet understand the 4-layer framework in depth. Keep reply intro-level.',\n  automations: 'They submitted from the /automations page after reading the 4-layer deep-dive. Assume they understand Context + Skills + Automation + Agent and can reference those terms directly.',\n  websites: 'They submitted from the /websites page, interested primarily in the Layer 4 interface surface (dashboards, client portals, front-ends). Frame the reply around that, not full-stack automation unless they ask.',\n  unknown: 'Source page not specified.'\n}[d.source_page] || 'Source page not specified.';\n\nconst leadMagnetRule = isLeadMagnet\n  ? 'CRITICAL: source is lead_magnet. This person downloaded the 4-Layer Blueprint PDF, they did NOT send an enquiry. An empty message is EXPECTED and normal. Set icp_class=warm, priority=2, scaffold=G, summary=\"Downloaded the 4-Layer Blueprint\", their_topic=\"the 4-Layer Blueprint\", signals=[\"lead_magnet_download\",\"self_educating\",\"opted_in\"], budget_fit=unknown. Never treat the empty message as confusing or low-confidence.'\n  : 'source is a normal contact form enquiry. Use the standard A-F scaffold rules. If too short to classify, priority=2 scaffold=B. If spam, icp_class=not_fit.';\n\nconst qualifier_body = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 600,\n  system: 'You are the Digital Artifacts lead-qualifier (Layer 2 skill). Classify an inbound form submission against the ICP and pricing. Return strictly the JSON schema, no prose, no markdown fences. Never invent signals not in the message. ' + leadMagnetRule,\n  messages: [{\n    role: 'user',\n    content: `<icp>\\n${brain['icp']}\\n</icp>\\n\\n<pricing>\\n${brain['pricing']}\\n</pricing>\\n\\n<source_page_context>\\n${pageContext}\\n</source_page_context>\\n\\n<submission>\\nName: ${d.name}\\nEmail: ${d.email}\\nPhone: ${d.phone}\\nService requested: ${d.service}\\nBudget: ${d.budget}\\nHow they heard: ${d.how_heard}\\nSource: ${d.source}\\nSource page: ${d.source_page}\\nMessage:\\n${d.message}\\n</submission>\\n\\nReturn JSON: {\"icp_class\":\"hot|warm|cool|not_fit\",\"priority\":1|2|3,\"industry_archetype\":\"services|trades|sales|other\",\"scaffold\":\"A|B|C|D|E|F|G\",\"summary\":\"\",\"their_topic\":\"\",\"signals\":[],\"budget_fit\":\"above_floor|edge|below_floor|unknown\",\"first_name\":\"\",\"recommended_action\":\"\"}`\n  }]\n};\n\nreturn [{ json: { ...d, brain: {\n  icp: brain['icp'], pricing: brain['pricing'], company: brain['company-brief'],\n  tone: brain['tone-of-voice'], scaffolds: brain['response-scaffolds'], integrations: brain['integrations']\n}, qualifier_body, page_context: pageContext, is_lead_magnet: isLeadMagnet }}];"
        },
        "id": "fetch-brain",
        "name": "Fetch Brain (Layer 1)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          384
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.qualifier_body) }}",
          "options": {}
        },
        "id": "claude-qualifier",
        "name": "Claude: Lead Qualifier (Skill)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          912,
          384
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "OKqeqkHPNB4DhUQ9",
            "name": "anthropicApi.default"
          }
        },
        "notes": "Credential must send header: x-api-key: <ANTHROPIC_API_KEY>"
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Fetch Brain (Layer 1)').item.json;\nconst claudeRes = $input.first().json;\nconst raw = claudeRes?.content?.[0]?.text || '';\n\nlet classification;\ntry {\n  const jsonText = raw.trim().replace(/^```json\\n?|```$/g, '');\n  classification = JSON.parse(jsonText);\n} catch (e) {\n  classification = {\n    icp_class: 'warm', priority: 2, industry_archetype: 'other',\n    scaffold: prev.is_lead_magnet ? 'G' : 'B',\n    summary: prev.is_lead_magnet ? 'Downloaded the 4-Layer Blueprint' : (prev.message || '').slice(0, 80),\n    their_topic: prev.is_lead_magnet ? 'the 4-Layer Blueprint' : (prev.service || 'enquiry'),\n    signals: prev.is_lead_magnet ? ['lead_magnet_download','self_educating','opted_in'] : [],\n    budget_fit: 'unknown', first_name: (prev.name || '').split(' ')[0],\n    recommended_action: 'manual review'\n  };\n}\n\nconst nowSyd = new Date(new Date().toLocaleString('en-US', { timeZone: 'Australia/Sydney' }));\nconst day = nowSyd.getDay();\nconst hour = nowSyd.getHours();\nconst inHours = day >= 1 && day <= 5 && hour >= 8 && hour < 20;\nconst mode = inHours ? 'in_hours' : 'out_of_hours';\n\nconst leadMagnetRule = prev.is_lead_magnet\n  ? 'CRITICAL OVERRIDE: source is lead_magnet. Use Scaffold G only. They downloaded the 4-Layer Blueprint PDF, they did NOT send an enquiry. An empty message is EXPECTED. NEVER write \"your message was empty\" or \"not sure what prompted you to reach out\" or anything implying they sent an enquiry. Warm, low pressure, value first. Do NOT override to Scaffold D for out_of_hours, Scaffold G sends fine any time. Set scaffold_used=G, confidence=high.'\n  : 'source is a normal contact form enquiry. Use the standard A-F scaffold rules exactly as before. If mode=out_of_hours, override scaffold with D. The reply MUST match the source_page_context.';\n\nconst draft_body = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 900,\n  system: 'You draft an email reply from Isaiah at Digital Artifacts to a new inbound lead (Layer 2 skill: inbound-reply-draft). HARD RULES: no em dashes ever, open with FirstName only (no \\'Hi X\\'), reference one specific detail, end with the booking link, sign off Isaiah only, max 4 short paragraphs. Use placeholder {{ BOOKING_LINK }} in the body. ' + leadMagnetRule + ' Return JSON only, no markdown fences.',\n  messages: [{\n    role: 'user',\n    content: `<company>\\n${prev.brain.company}\\n</company>\\n\\n<pricing>\\n${prev.brain.pricing}\\n</pricing>\\n\\n<tone>\\n${prev.brain.tone}\\n</tone>\\n\\n<scaffolds>\\n${prev.brain.scaffolds}\\n</scaffolds>\\n\\n<source_page_context>\\n${prev.page_context}\\n</source_page_context>\\n\\n<classification>\\n${JSON.stringify(classification)}\\n</classification>\\n\\n<submission>\\nName: ${prev.name}\\nEmail: ${prev.email}\\nService: ${prev.service}\\nBudget: ${prev.budget}\\nSource: ${prev.source}\\nSource page: ${prev.source_page}\\nMessage:\\n${prev.message}\\n</submission>\\n\\n<mode>${mode}</mode>\\n\\nReturn JSON: {\"subject\":\"\",\"body_plain\":\"\",\"scaffold_used\":\"A|B|C|D|E|F|G\",\"confidence\":\"high|medium|low\",\"notes_for_isaiah\":\"\"}`\n  }]\n};\n\nreturn [{ json: { ...prev, classification, mode, draft_body } }];"
        },
        "id": "parse-classify",
        "name": "Parse Classification + Mode",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          384
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.draft_body) }}",
          "options": {}
        },
        "id": "claude-draft",
        "name": "Claude: Inbound Reply Draft (Skill)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1360,
          384
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "OKqeqkHPNB4DhUQ9",
            "name": "anthropicApi.default"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Parse Classification + Mode').item.json;\nconst raw = $input.first().json?.content?.[0]?.text || '';\nlet draft;\ntry {\n  const jsonText = raw.trim().replace(/^```json\\n?|```$/g, '');\n  draft = JSON.parse(jsonText);\n} catch (e) {\n  draft = {\n    subject: 'Got your message',\n    body_plain: `${(prev.name||'there').split(' ')[0]},\\n\\nGot your message, reading it properly shortly and will be back to you.\\n\\nIsaiah`,\n    scaffold_used: 'D', confidence: 'low',\n    notes_for_isaiah: 'Claude response unparseable, fallback draft used. Review before approve.'\n  };\n}\n\nconst bookingMatch = (prev.brain?.integrations || '').match(/https:\\/\\/calendar\\.app\\.google\\/[A-Za-z0-9_-]+/);\nconst bookingLink = bookingMatch ? bookingMatch[0] : 'https://calendar.app.google/PLACEHOLDER';\ndraft.body_plain = (draft.body_plain || '').replace(/\\{\\{\\s*BOOKING_LINK\\s*\\}\\}/g, bookingLink);\ndraft.body_plain = draft.body_plain.replace(/\\u2014|\\u2013/g, ',');\n\nconst SIGNATURE_HTML = '<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" role=\"presentation\" style=\"border-collapse:collapse;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;margin-top:10px;\">'\n  + '<tr>'\n  + '<td valign=\"middle\" style=\"vertical-align:middle;padding:0 26px 0 0;\"><img src=\"https://digitalartifacts.com.au/brand/da-mark-tile.png\" alt=\"Digital Artifacts\" width=\"84\" height=\"84\" style=\"display:block;width:84px;height:84px;border:0;\"></td>'\n  + '<td style=\"width:1px;padding:0;background:#E8E6E1;font-size:0;line-height:0;\">&nbsp;</td>'\n  + '<td valign=\"middle\" style=\"vertical-align:middle;padding:0 0 0 26px;\">'\n  + '<div style=\"font-size:19px;font-weight:700;color:#1B2838;letter-spacing:-0.015em;line-height:1.1;\">Isaiah Wong</div>'\n  + '<div style=\"font-size:10.5px;color:#8A8A80;margin-top:8px;letter-spacing:0.13em;text-transform:uppercase;font-weight:700;\">Founder &nbsp;&middot;&nbsp; Digital Artifacts</div>'\n  + '<div style=\"font-size:13px;color:#1B2838;margin-top:16px;line-height:1.5;\">AI operating systems that buy back your week.</div>'\n  + '<div style=\"font-size:12px;margin-top:16px;line-height:1.9;\"><a href=\"mailto:isaiah@digitalartifacts.com.au\" style=\"color:#1B2838;text-decoration:none;font-weight:500;\">isaiah@digitalartifacts.com.au</a><br><a href=\"https://digitalartifacts.com.au\" style=\"color:#00C853;text-decoration:none;font-weight:700;\">digitalartifacts.com.au</a></div>'\n  + '</td></tr></table>';\n\nfunction bodyToHtml(text) {\n  const esc = (text || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const linked = esc.replace(/(https?:\\/\\/[^\\s<]+)/g, '<a href=\"$1\" style=\"color:#00C853;\">$1</a>');\n  const body = linked.replace(/\\n/g, '<br>');\n  return '<div style=\"font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.6;color:#1B2838;\">' + body + '</div>' + '<br><br>' + SIGNATURE_HTML;\n}\n\ndraft.body_html = bodyToHtml(draft.body_plain);\n\nconst c = prev.classification || {};\n\n// Flat row for Google Sheets. Keeps nested objects out of autoMap.\nconst row = {\n  lead_id: prev.lead_id,\n  timestamp: prev.submitted_at,\n  name: prev.name, email: prev.email, phone: prev.phone,\n  service: prev.service, budget: prev.budget, message: prev.message,\n  how_heard: prev.how_heard, source: prev.source,\n  icp_class: c.icp_class || '',\n  priority: c.priority || '',\n  industry_archetype: c.industry_archetype || '',\n  scaffold: draft.scaffold_used || '',\n  draft_subject: draft.subject || '',\n  draft_body: draft.body_plain || '',\n  confidence: draft.confidence || '',\n  notes_for_isaiah: draft.notes_for_isaiah || '',\n  mode: prev.mode,\n  status: prev.mode === 'out_of_hours' ? 'sent_auto_ooh' : 'awaiting_approval',\n  source_page: prev.source_page || '',\n  source_url: prev.source_url || ''\n};\n\n// Keep classification + draft on the item so later Telegram/Gmail nodes can still read them.\nreturn [{ json: { ...row, classification: c, draft, brain: prev.brain } }];"
        },
        "id": "parse-draft",
        "name": "Parse Draft + Inject Booking Link",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1584,
          384
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1XWUc-kCP3mDln2LO_witusIwXy736fYar3k3clkLDZM"
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "",
            "cachedResultName": ""
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": []
          },
          "options": {}
        },
        "id": "sheet-append",
        "name": "Log to Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1808,
          384
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "xyvnpCe0Is7f0c73",
            "name": "Google Sheets account 3"
          }
        },
        "notes": "Sheet columns required: lead_id, timestamp, name, email, phone, service, budget, message, how_heard, source, icp_class, priority, industry_archetype, scaffold, draft_subject, draft_body, confidence, notes_for_isaiah, mode, status"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "mode-check",
                "leftValue": "={{ $json.mode }}",
                "rightValue": "out_of_hours",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-ooh",
        "name": "Out of Hours?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2032,
          384
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email }}",
          "subject": "={{ $json.draft.subject }}",
          "emailType": "html",
          "message": "={{ $json.draft.body_html }}",
          "options": {
            "replyTo": "hello@digitalartifacts.com.au"
          }
        },
        "id": "gmail-send-ooh",
        "name": "Gmail: Send Draft Now (OOH)",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2256,
          192
        ],
        "webhookId": "3aa0bb5e-a654-43a8-a23e-d2b981ebc5e6",
        "credentials": {
          "gmailOAuth2": {
            "id": "bMWObGun24xoeJyN",
            "name": "Gmail account"
          }
        },
        "notes": "Out-of-hours: send the Scaffold D acknowledgement immediately. Isaiah follows up in the morning."
      },
      {
        "parameters": {
          "jsCode": "// Build Telegram brief text for Isaiah (Layer 2 skill: telegram-brief).\n// Out-of-hours variant: message is FYI only, no buttons \u2014 reply already sent.\nconst d = $('Parse Draft + Inject Booking Link').item.json;\nconst c = d.classification;\nconst prio = c.priority === 1 ? '\ud83d\udd25' : c.priority === 2 ? '\u26a1' : '\ud83d\udcac';\nconst prioWord = c.priority === 1 ? 'HOT' : c.priority === 2 ? 'WARM' : 'COOL';\nconst msg = (d.message || '').slice(0, 300) + ((d.message || '').length > 300 ? '...' : '');\nconst firstName = c.first_name || (d.name || '').split(' ')[0];\n\nconst text = `\ud83c\udf19 AUTO-SENT (outside hours) \u00b7 ${prio} ${prioWord} ${c.industry_archetype}\\n\\n${firstName} \u00b7 ${d.service || 'no service'} \u00b7 ${c.budget_fit}\\n${(c.signals || []).slice(0,5).join(', ')}\\n\\nASK\\n${c.summary}\\n\\nMESSAGE\\n${msg}\\n\\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nSENT REPLY (Scaffold ${d.draft.scaffold_used}, ${d.draft.confidence} confidence)\\n\\n${d.draft.subject}\\n\\n${d.draft.body_plain}\\n\\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n${d.draft.notes_for_isaiah || 'No flags.'} Follow up in the morning.`;\n\nreturn [{ json: { ...d, telegram_text: text.slice(0, 3900) } }];"
        },
        "id": "tg-text-ooh",
        "name": "Render Telegram Brief (OOH)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2256,
          384
        ]
      },
      {
        "parameters": {
          "chatId": "8711637937",
          "text": "={{ $json.telegram_text }}",
          "additionalFields": {}
        },
        "id": "tg-send-ooh",
        "name": "Telegram: FYI (OOH)",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.1,
        "position": [
          2480,
          384
        ],
        "webhookId": "0e458153-0f1c-4df6-8728-b2e8fe424a32",
        "credentials": {
          "telegramApi": {
            "id": "WqZONzynV5mpkH1f",
            "name": "tgApi.daAdmin.fresh"
          }
        },
        "notes": "Chat ID is Isaiah's personal chat. Get it by messaging @userinfobot, then set env TELEGRAM_CHAT_ID or hardcode here."
      },
      {
        "parameters": {
          "jsCode": "// Build Telegram brief with approval buttons (in-hours).\nconst d = $('Parse Draft + Inject Booking Link').item.json;\nconst c = d.classification;\nconst prio = c.priority === 1 ? '\ud83d\udd25' : c.priority === 2 ? '\u26a1' : '\ud83d\udcac';\nconst prioWord = c.priority === 1 ? 'HOT' : c.priority === 2 ? 'WARM' : 'COOL';\nconst msg = (d.message || '').slice(0, 300) + ((d.message || '').length > 300 ? '...' : '');\nconst firstName = c.first_name || (d.name || '').split(' ')[0];\n\nconst text = `\ud83c\udfaf ${prio} ${prioWord} lead \u00b7 ${c.industry_archetype}\\n\\n${firstName} \u00b7 ${d.service || 'no service'} \u00b7 ${c.budget_fit}\\n${(c.signals || []).slice(0,5).join(', ')}\\n\\nASK\\n${c.summary}\\n\\nMESSAGE\\n${msg}\\n\\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nDRAFT REPLY (Scaffold ${d.draft.scaffold_used}, ${d.draft.confidence} confidence)\\n\\n${d.draft.subject}\\n\\n${d.draft.body_plain}\\n\\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n${d.draft.notes_for_isaiah || 'No flags.'}`;\n\nreturn [{ json: { ...d, telegram_text: text.slice(0, 3900) } }];"
        },
        "id": "tg-text-in",
        "name": "Render Telegram Brief (In-Hours)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2256,
          576
        ]
      },
      {
        "parameters": {
          "chatId": "8711637937",
          "text": "={{ $json.telegram_text }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "\u2705 Approve & Send",
                      "additionalFields": {
                        "callback_data": "=approve:{{ $json.lead_id }}"
                      }
                    },
                    {
                      "text": "\u270f\ufe0f Edit",
                      "additionalFields": {
                        "callback_data": "=edit:{{ $json.lead_id }}"
                      }
                    },
                    {
                      "text": "\u274c Reject",
                      "additionalFields": {
                        "callback_data": "=reject:{{ $json.lead_id }}"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "disable_web_page_preview": true
          }
        },
        "id": "tg-send-in",
        "name": "Telegram: Brief + Buttons (In-Hours)",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.1,
        "position": [
          2480,
          576
        ],
        "webhookId": "2eae4fc2-151e-43ba-9b9a-d9eb58e8fad4",
        "credentials": {
          "telegramApi": {
            "id": "WqZONzynV5mpkH1f",
            "name": "tgApi.daAdmin.fresh"
          }
        }
      }
    ],
    "connections": {
      "Webhook - Lead Capture": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "Validate & Clean",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate & Clean": {
        "main": [
          [
            {
              "node": "Fetch Brain (Layer 1)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Brain (Layer 1)": {
        "main": [
          [
            {
              "node": "Claude: Lead Qualifier (Skill)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Lead Qualifier (Skill)": {
        "main": [
          [
            {
              "node": "Parse Classification + Mode",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Classification + Mode": {
        "main": [
          [
            {
              "node": "Claude: Inbound Reply Draft (Skill)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Inbound Reply Draft (Skill)": {
        "main": [
          [
            {
              "node": "Parse Draft + Inject Booking Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Draft + Inject Booking Link": {
        "main": [
          [
            {
              "node": "Log to Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log to Sheet": {
        "main": [
          [
            {
              "node": "Out of Hours?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Out of Hours?": {
        "main": [
          [
            {
              "node": "Gmail: Send Draft Now (OOH)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Render Telegram Brief (OOH)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Render Telegram Brief (In-Hours)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Telegram Brief (OOH)": {
        "main": [
          [
            {
              "node": "Telegram: FYI (OOH)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Telegram Brief (In-Hours)": {
        "main": [
          [
            {
              "node": "Telegram: Brief + Buttons (In-Hours)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Isaiah  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-20T02:36:40.778Z",
        "id": 233,
        "workflowId": "3MZjEclDK9MHBqXz",
        "versionId": "363e6aaf-55f0-4278-be5a-0332c1ce7bfe",
        "event": "activated",
        "userId": "1b4f3847-46d4-4f50-a122-f58bcb20f2c7"
      },
      {
        "createdAt": "2026-05-20T02:36:40.643Z",
        "id": 232,
        "workflowId": "3MZjEclDK9MHBqXz",
        "versionId": "363e6aaf-55f0-4278-be5a-0332c1ce7bfe",
        "event": "deactivated",
        "userId": "1b4f3847-46d4-4f50-a122-f58bcb20f2c7"
      }
    ]
  }
}